form{
    background-color: rgb(136, 140, 189);
    width: 550px;
    padding-left: 250px;
}

label{
    margin-right: 10px;
    font-weight: 900;
}

#id_old_password{
    margin-left: 95px;
}
#id_new_password1{
    margin-left: 91px;
}